aclocal.m4
autom4te.cache
builtin-config.c
config.h
config.h.in
config.log
/config.make
config.status
configure
cscope.out
doc/tig.1
doc/tigmanual.7
doc/tigrc.5
doc/release-docs/
doc/manual.html-chunked
doc/manual.pdf
doc/manual.toc
tags
tig
tig-*.tar.gz
tig-*.tar.gz.md5
tig.spec
tools/test-graph
.deps
*.html
*.o
*.swp
*.xml
*~
