aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.make
config.status
configure
manual.html-chunked
manual.pdf
manual.toc
tig
tig-*.tar.gz
tig-*.tar.gz.md5
tig.1
tig.spec
tigrc.5
tigmanual.7
test-graph
*.html
*.o
*.xml
*~
