*.gcno
*.gcda
*.html
*.o
*.swp
*~
.deps
/_book
/config.make
/node_modules/
aclocal.m4
autom4te.cache
/compile_commands/
/compile_commands.json
config.h
config.h.in
config.log
config.status
configure
cscope.out
ctags
doc/*.[157]
doc/*.xml
doc/manual.html-chunked
doc/manual.pdf
doc/manual.toc
doc/release-docs/
src/builtin-config.c
src/tig
tags
test/coverage
test/tools/test-graph
test/tmp
tig-*.tar.gz
tig-*.tar.gz.sha256
tig.spec
tools/doc-gen
tig.dSYM
